/* ################# LOGIN ################# */

* {
    cursor: url("../img/general/cursor.webp") 5 28, auto;
}

.form-login-ext{
    font-weight: bold;
    display: none;
    border: 2px solid black;
    position: absolute;
    left:50%;
    top:50%;
    background-color: #f2f2f2;
    transform: translate(-50%,-50%);
    height: 30%;
    width: 25%;
}

.form-login{
    width: 100%;
    height: 100%;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
}

.form-login #cerrar-login{
    margin-right: 1%;
    margin-top: 1%;
    height: 7%;
    width: 99%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cerrar-login #boton-cerrar-login{
    font-size: 1.1vw;
    width: 8%;
    height: 100%;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.cerrar-login #boton-cerrar-login:hover{
    transform: scale(1.1);
    background-color: orangered;
}

.inicio-general{
    height: 92%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-inicio-sesion{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#titulo-formulario{
    height: 10%;
    width: 100%;
    text-transform: capitalize;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-campos{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.login-usuario{
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.login-usuario span{
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-campos label{
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.login-campos input{
    border-radius: 20px;
    font-size: 0.9vw;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
}

.login-contrasena{
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
}

.login-boton-enviar{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-boton-enviar button{
    border-radius: 20px;
    border: 2px solid black;
    background-color: yellow;
}

.login-boton-enviar button:hover{
    transform: scale(1.1);
    background-color: orangered;
}

.login-boton-enviar button{
    font-size: 1.1vw;
    width: 35%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-footer{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.form-enlazar-registro{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

.form-enlazar-registro button{
    border: none;
    text-decoration: underline;
    font-size: 1vw;
}

.form-enlazar-registro button:hover{
    transform: scale(1.1);
}

/* #################### REGISTRO ##################### */
.form-registro-ext{
    font-weight: bold;
    display: none;
    border: 2px solid black;
    position: absolute;
    left:50%;
    top:50%;
    background-color: #f2f2f2;
    transform: translate(-50%,-50%);
    height: 45%;
    width: 30%;
}

.form-registro{
    width: 100%;
    height: 90%;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-registro #cerrar-registro{
    margin-right: 1%;
    margin-top: 1%;
    height: 7%;
    width: 99%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cerrar-registro #boton-cerrar-registro{
    font-size: 1.1vw;
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}

.cerrar-registro #boton-cerrar-registro:hover{
    transform: scale(1.1);
    background-color: orangered;
}

.registro-campos label{
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.registro-campos input{
    font-size: 0.9vw;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border: 2px solid black;
    box-shadow: 0 0 5px black;
}

.registro-campos label{
    display: flex;
    justify-content: start;
}

.registro-general{
    height: 100%;
    width: 100%;
}


.form-inicio-registro{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

#titulo-registro{
    height: 10%;
    width: 100%;
    text-transform: capitalize;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-campos{
    height: 73%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.registro-campos input{
    text-align: center;
    border-radius: 10px;
}

.registro-campos div{
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.registro-nombre i{
    font-size: 1.75vw;
}

.enviar-registro{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
    width: 100%;

}

.enviar-registro button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60%;
    font-size: 1.1vw;
    border: 2px solid black;
    border-radius: 10px;
    background-color: yellow;
}

.enviar-registro button:hover{
    transform: scale(1.1);
    background-color: orangered;
}

[id^="div-mensaje-rellenar-campos-"]{
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden;
}

[id^="div-mensaje-rellenar-campos-"] label{
    width: fit-content;
    font-size: 0.8vw;
    color: red;
}